:root {
    --font-color-base: #8b8b8b;
    --font-color-success: #4C9B68;
    --font-color-danger: #FF616E;
    --background-gray: #F5F5F5;
    --background-blue: #EDF8FF;
    --background-success: #ECF7E7;
    --background-danger: #FEE6E6;
}