.table {
    width: 850px;
    min-height: 580px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid var(--font-color-base);
    border-radius: 5px;
    background: var(--background-gray);
    color: var(--font-color-base);
}